.quizLayout {
    min-height: 100vh;
    background-color: rgb(92, 6, 104);
    background: linear-gradient(135deg,
            #655bef 0%,
            #6420AA 20%,
            #CC66DA 40%,
            #FF3EA5 60%,
            #FF2DF1 80%,
            #555def 100%);
    background-size: 100% 600%;
    animation: gradientScroll 18s ease-in-out infinite;
}

.quizMotionDiv {
    display: flex;
    justify-content: center;
    align-content: center;
}

.quizContent {
    align-content: center;
    justify-items: center;
}

.quizCard {
    justify-items: center;
    width: 90%;
    max-width: 700px;
    background-color: #00000083;
    border: 0;
    padding: 1rem;
    border-radius: 2rem;
}

.quizSpace {
    text-align: center;
}

.quizText {
    font-size: 1.3rem;
}

.divButton {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.optButton {
    margin: 0.5rem 0;
    font-size: 1.1rem;
    padding: 2rem;
    white-space: normal;
}


@keyframes gradientScroll {
    0% {
        background-position: 50% 0%;
    }

    50% {
        background-position: 50% 100%;
    }

    100% {
        background-position: 50% 0%;
    }
}


.finishCard {
    justify-items: center;
    width: 90%;
    max-width: 700px;
    border: 0;
    padding: 1rem;
    border-radius: 2rem;
    text-align: center;
}

.finishText {
    font-size: 1.2rem;
}

.bgVerde {
    background: #5eac5cea;
}

.bgAmarelo {
    background: #d6a70dd2;
}

.bgVermelho {
    background: #aa0728de;
}

.thxCard {
    background-color: transparent;
    border-radius: 1.7rem;
    animation: pulse 2s infinite alternate;
    margin-top: 1rem;
}

.thxText {
    font-size: 1.3rem;
}

.thxButton {
    font-size: 1rem;
}

@keyframes pulse {
    from {
        box-shadow: 0 0 20px 7px #e5f771;
    }

    to {
        box-shadow: 0 0 10px 10px #CC66DA;
    }
}