.homeLayout {
    min-height: 100vh;
    background: #334FB9;
    background: -moz-linear-gradient(-45deg, #334FB9 0%, #602080 50%, #7B227B 100%);
    background: -webkit-linear-gradient(-45deg, #334FB9 0%, #602080 50%, #7B227B 100%);
    background: linear-gradient(135deg, #334FB9 0%, #602080 50%, #7B227B 100%);
}

.homeContent {
    align-content: center;
    justify-items: center;
}

.homeCard {
    width: 70%;
    max-width: 700px;
    box-shadow: 0px 0px 22px 10px rgba(176, 48, 176, 0.57);
    border-radius: 2rem;
    border: 4px solid;
    border-color: #fddafd;
    background-color: rgba(0, 0, 0, 0.219);
}

.homeSpace {
    text-align: center;
}

.homeText {
    font-size: 1.2rem;
}

.initButton {
    font-size: 1.8rem;
    padding: 2rem;
}